.navBar{
    background-color: #282c34;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    padding: 20px;

}
li{
    color: white;
    list-style: none;
}